/* Default value */
/* ------------- */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* Factored */
/* -------- */

/* Primary, secondary... */
.color-primary {
    color: #101204;
}
.background-color-primary {
    background-color: #101204;
}
.color-secondary {
    color: #82B536;
}
.background-color-secondary {
    background-color: #82B536;
}
.color-tertiary {
    color: #242529;
}
.background-color-tertiary {
    background-color: #242529;
}
.color-quaternary {
    color: #838385;
}
.background-color-quaternary {
    background-color: #838385;
}

/* Style */
.font-weight-bold {
    font-weight: bold;
}
.text-align-center {
    text-align: center;
}
.list-style-none {
    list-style: none;
}

/* Spacing */
.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-left {
    margin-left: 20px;
}
.margin-right {
    margin-right: 20px;
}
.padding {
    padding: 20px;
}